<div class="container" nz-row>
  <div class="child-container" nz-col nzSpan="4">
    <button (click)="addComponent()">add component</button>
  </div>
  <div class="child-container" nz-col nzSpan="16">
    <div>
      <pdf-viewer
        style="display: block; border: 1px rgb(212, 13, 13) solid;box-sizing: border-box;"
        [original-size]="false"
        [autoresize]="true"
        [zoom]="0.8"
        [show-borders]="true"
        src="./assets/pdf/giay.pdf"
      ></pdf-viewer>
    </div>
  </div>
  <div class="child-container" nz-col nzSpan="4"></div>
  <app-field
   class="app-field"
    (onRemove)="remove(item)"
    *ngFor="let item of listMetaData"
    [item]="item"
    (onComponentUpdate)="updateComponent($event)"
  ></app-field>
</div>
