<div
  id="chat"
  [style.top.px]="setting.top"
  [style.left.px]="setting.left"
  [style.width.px]="setting.width"
  [style.height.px]="setting.height"
  (mousedown)="onWindowPress($event)"
  (mousemove)="onWindowDrag($event)"
>
  <div *ngIf="!isMoving" id="tool-tip">
    <button class="tooltip-icon" (click)="openSetting()"></button>

    <button class="tooltip-icon" (click)="remove()"></button>
  </div>

  <div
    (mousedown)="onCornerClick($event, bottomRightResize)"
    id="chat-bottom-right-resize"
    class="chat-corner-resize"
  ></div>
  <span class="mandatory-icon">*</span>

  <div
    (mousedown)="onCornerClick($event, topResize)"
    id="chat-top-resize"
    class="resize-handle-top"
  ></div>
  <div
    (mousedown)="onCornerClick($event, rightResize)"
    id="chat-right-resize"
    class="resize-handle-right"
  ></div>
  <div
    (mousedown)="onCornerClick($event, bottomResize)"
    id="chat-bottom-resize"
    class="resize-handle-bottom"
  ></div>
  <div
    (mousedown)="onCornerClick($event, leftResize)"
    id="chat-left-resize"
    class="resize-handle-left"
  ></div>

  <div *ngIf="isMoving" id="top-ruler" class="ruler"></div>
  <div *ngIf="isMoving" id="right-ruler" class="ruler"></div>
  <div *ngIf="isMoving" id="bottom-ruler" class="ruler"></div>
  <div *ngIf="isMoving" id="left-ruler" class="ruler"></div>
  <input
    id="text-input"
    [style.color]="setting.fontColor"
    [style.font-size.px]="setting.height"
    [style.font-family]="setting.fontType"
    [style.font-style]="setting.fontStyle"
    type="text"
    [(ngModel)]="setting.hintText"
    (blur)="onTextBlur()"
    [ngModelOptions]="{ standalone: true }"
  />
</div>
<app-setting (onApplySetting)="applySetting($event)" #itemModal></app-setting>
