#chat {
  position: relative;
  background: rgba(249, 218, 0, 0.9) !important;
  opacity: 0.8;
  display: flexbox;
  cursor: move;
  border: 2px solid #ffb600 !important;
  z-index: 100;
}

#chat:hover > #tool-tip {
  display: block;
}

.chat-corner-resize {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 100;
}
.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 7px;
  cursor: n-resize;
  width: 100%;
}

.tooltip-icon {
  width: 20px;
  height: 20px;
  float: left;
  display: inline;
}

#btn-setting {
  background-image: url("../../../assets/images/setting.png");
}

#btn-del {
  float: left;
  background-image: url("../../../assets/images/delete.png");
}

#tool-tip {
  position: absolute;
  top: -22px;
  right: -2px;
  background-color: blue;
  width: 40px;
  height: 20px;
  display: none;
}
.resize-handle-top {
  top: -7px;
}

.resize-handle-bottom {
  bottom: -5px;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: w-resize;
  width: 7px;
}

.resize-handle-left {
  left: -7px;
}

.resize-handle-right {
  right: -5px;
}
#chat-bottom-right-resize {
  bottom: 0px;
  right: 0px;
  cursor: nw-resize;
}

.ruler {
  position: absolute;
  vertical-align: middle;
}
.mandatory-icon {
  position: absolute;
  font-size: 7px;
  color: #e03500;
  right: 2px;
  top: 2px;
  z-index: 10;
}
#top-ruler {
  top: -2px;
  height: 2px;
  width: 200vw;
  left: -100vh;
  right: -100vh;
  border-top: 1px #ffb600 dotted;
}

#bottom-ruler {
  bottom: -2px;
  height: 2px;
  width: 200vw;
  left: -100vh;
  right: -100vh;
  border-bottom: 1px #ffb600 dotted;
}

#left-ruler {
  left: -2px;
  height: 200vh;
  width: 2px;
  top: -100vh;
  bottom: -100vh;
  border-left: 1px #ffb600 dotted;
}

#right-ruler {
  right: -2px;
  height: 200vh;
  width: 2px;
  top: -100vh;
  bottom: -100vh;
  border-right: 1px #ffb600 dotted;
}

#text-input {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: lawngreen;
  width: 100%;
  height: 100%;
  cursor: move;
  display: block;
  overflow: hidden;
}
#text-input:focus {
  outline: none;
}
